body{background:url("new_bgr_img.jpg");background-repeat:no-repeat;background-position:center;background-size:cover;background-attachment:fixed;}
h1{color:ghostwhite;font-size:70pt;margin:10pt;font-family:times new roman;padding:10px;}
h2{margin:10pt;font-size:28pt;color:white;padding:10px;}
